<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.linkUser.ItripUserLinkUserMapper">
    <select id="queryAllByUserId" resultType="ItripUserLinkUser" parameterType="Integer">
        SELECT * FROM `itrip_user_link_user` WHERE `userId` = #{userId}
    </select>
    <select id="queryLinkUserByUserIdAndLiknUserName" resultType="ItripUserLinkUser">
      SELECT * FROM `itrip_user_link_user` WHERE `userId` = #{userId}
       AND `linkUserName` LIKE CONCAT ('%',#{linkUserName},'%')
    </select>

    <select id="queryLinkUserByID" resultType="ItripUserLinkUser" parameterType="Integer">
        SELECT * FROM `itrip_user_link_user` WHERE id = #{linkUserId}
    </select>

    <insert id="addLinkUser" parameterType="ItripUserLinkUser">
      INSERT INTO `itrip`.`itrip_user_link_user` ( `linkUserName`, `linkIdCard`, `linkPhone`, `userId`, `linkIdCardType`)
       VALUES (#{linkUserName},#{linkIdCard},#{linkPhone},#{userId},#{linkIdCardType})
    </insert>

    <update id="updateLinkUser" parameterType="integer">
      UPDATE `itrip`.`itrip_user_link_user` SET `linkUserName` = #{linkUserName},
       `linkIdCard` =#{linkIdCard}, `linkPhone` = #{linkPhone},
        `linkIdCardType` = #{linkIdCardType} WHERE `id` = #{id}
    </update>

    <delete id="delLinkUser" parameterType="Integer">
        DELETE FROM `itrip`.`itrip_user_link_user` WHERE `id` = #{linkUserId}
    </delete>
</mapper>