<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.hotel.HotelMapper">
    <resultMap id="itripHotalMap" type="ItripHotel">
        <id property="id" column="ih_id"/>
        <association property="itripImage" resultMap="imageMap"/>
        <association property="itripHotelRoom" resultMap="itripHotelRoomMap"/>
        <association property="itripHotelOrder" resultMap="itripHotelOrderMap"/>
        <collection property="itripHotelTradingArea" resultMap="itripHotelTradingAreaMap"/>
        <collection property="count" resultMap="countMap"/>
    </resultMap>

    <resultMap id="countMap" type="Count">
        <id column="id" property="id"/>
    </resultMap>
    <resultMap id="imageMap" type="ItripImage">
        <id property="id" column="ii_id"></id>
        <result property="imgUrl" column="imgUrl"/>
    </resultMap>
    <resultMap id="itripHotelOrderMap" type="ItripHotelOrder">
        <id property="id" column="id"/>
    </resultMap>
    <resultMap id="itripHotelRoomMap" type="ItripHotelRoom">
        <id property="id" column="id"/>
        <result property="roomPrice" column="roomPirce"/>
    </resultMap>
    <resultMap id="itripHotelTradingAreaMap" type="ItripHotelTradingArea">
        <id column="id" property="id"/>
    </resultMap>

    <!--根据商圈搜索酒店-->
    <select id="queryAllByName" resultMap="itripHotalMap">
        SELECT `itrip_hotel`.`id` ih_id,`itrip_image`.id ii_id,
        `itrip_hotel`.`address`,`itrip_hotel`.`hotelName`,`itrip_image`.`imgUrl`,room.`roomPrice`
        FROM `itrip_image`,`itrip_hotel`,`itrip_area_dic` dic,`itrip_hotel_trading_area` area,`itrip_hotel_room` room,`itrip_hotel_order`
        WHERE `itrip_hotel`.`id` NOT IN (
        SELECT `count`.`hotelId` FROM `count`,`itrip_hotel_order` WHERE `count`.`count`  IN(
        SELECT COUNT(*) FROM `itrip_hotel_order`
        WHERE `itrip_hotel_order`.`checkOutDate`<![CDATA[ >= ]]> #{checkInDate}
        AND `itrip_hotel_order`.`checkInDate`<![CDATA[ <= ]]> #{checkInDate}
        AND `itrip_hotel_order`.`checkOutDate`<![CDATA[ >= ]]> #{checkOutDate}
        AND `itrip_hotel_order`.`checkInDate`<![CDATA[ <= ]]> #{checkOutDate}
        GROUP BY `itrip_hotel_order`.`hotelId`

        )AND `itrip_hotel_order`.`hotelId` = `count`.`hotelId` GROUP BY `itrip_hotel_order`.`hotelId`
        )AND `itrip_hotel`.`cityId`=#{cityId}
        AND dic.`areaNo`=area.areaId
        AND `itrip_hotel`.`id`=area.hotelId

        AND dic.`NAME`=#{Name}
        AND `itrip_hotel`.`id`=`itrip_image`.`id`
        AND room.`hotelId`=`itrip_hotel`.`id`
        GROUP BY `itrip_hotel`.hotelName
    </select>

    <!--根据酒店地址搜索酒店-->
    <select id="queryAllByAddress" resultMap="itripHotalMap">
        SELECT `itrip_hotel`.`address`,`itrip_hotel`.`hotelName`,`itrip_image`.`imgUrl`,`itrip_hotel_room`.`roomPrice`
        FROM `itrip_hotel_room`,`itrip_image`,`itrip_hotel`,`itrip_area_dic` dic,`itrip_hotel_trading_area` are
        WHERE `itrip_hotel`.`id` NOT IN (
        SELECT `count`.`hotelId` FROM `count`,`itrip_hotel_order` WHERE `count`.`count`  IN(
        SELECT COUNT(*) FROM `itrip_hotel_order`
        WHERE `itrip_hotel_order`.`checkOutDate`<![CDATA[ >= ]]>#{checkInDate}
        AND `itrip_hotel_order`.`checkInDate`<![CDATA[ <= ]]>#{checkInDate}
        AND `itrip_hotel_order`.`checkOutDate`<![CDATA[ >= ]]>#{checkOutDate}
        AND `itrip_hotel_order`.`checkInDate`<![CDATA[ <= ]]>#{checkOutDate}
        GROUP BY `itrip_hotel_order`.`hotelId`

        )AND `itrip_hotel_order`.`hotelId` = `count`.`hotelId` GROUP BY `itrip_hotel_order`.`hotelId`
        )AND `itrip_hotel`.`cityId`=#{cityId}
        AND dic.`areaNo`=are.areaId
        AND `itrip_hotel`.`id`=are.hotelId

        AND itrip_hotel.address LIKE CONCAT ('%',#{address},'%')
        AND `itrip_hotel`.`id`=`itrip_image`.`id`
        AND `itrip_hotel_room`.`hotelId`=`itrip_hotel`.`id`
        GROUP BY `itrip_hotel`.`hotelName`
    </select>

    <!--根据酒店名称搜索酒店-->
    <select id="queryAllByHotelName" resultMap="itripHotalMap">
        SELECT `itrip_hotel`.`address`,`itrip_hotel`.`hotelName`,`itrip_image`.`imgUrl`,`itrip_hotel_room`.`roomPrice`
        FROM `itrip_hotel_room`,`itrip_image`,`itrip_hotel`,`itrip_area_dic` dic,`itrip_hotel_trading_area` are
        WHERE `itrip_hotel`.`id` NOT IN (
        SELECT `count`.`hotelId` FROM `count`,`itrip_hotel_order` WHERE `count`.`count`  IN(
        SELECT COUNT(*) FROM `itrip_hotel_order`
        WHERE `itrip_hotel_order`.`checkOutDate`<![CDATA[ >= ]]>#{checkInDate}
        AND `itrip_hotel_order`.`checkInDate`<![CDATA[ <= ]]>#{checkInDate}
        AND `itrip_hotel_order`.`checkOutDate`<![CDATA[ >= ]]>#{checkOutDate}
        AND `itrip_hotel_order`.`checkInDate`<![CDATA[ <= ]]>#{checkOutDate}
        GROUP BY `itrip_hotel_order`.`hotelId`

        )AND `itrip_hotel_order`.`hotelId` = `count`.`hotelId` GROUP BY `itrip_hotel_order`.`hotelId`
        )AND `itrip_hotel`.`cityId`=#{cityId}
        AND dic.`areaNo`=are.areaId
        AND `itrip_hotel`.`id`=are.hotelId

        AND itrip_hotel.address LIKE CONCAT ('%',#{hotelName},'%')
        AND `itrip_hotel`.`id`=`itrip_image`.`id`
        AND `itrip_hotel_room`.`hotelId`=`itrip_hotel`.`id`
        GROUP BY `itrip_hotel`.`hotelName`
    </select>













</mapper>