<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.hotel.HotelMapper">
    <resultMap id="itripHotalMap" type="ItripHotel">
        <id property="id" column="ih_id"/>
        <association property="itripImage" resultMap="imageMap"/>
        <association property="itripHotelRoom" resultMap="itripHotelRoomMap"/>
        <association property="itripHotelOrder" resultMap="itripHotelOrderMap"/>
        <collection property="itripHotelTradingArea" resultMap="itripHotelTradingAreaMap"/>
        <collection property="count" resultMap="countMap"/>
    </resultMap>
    <resultMap id="countMap" type="Count">
        <id column="id" property="id"/>
    </resultMap>
    <resultMap id="imageMap" type="ItripImage">
        <id property="id" column="ii_id"></id>
        <result property="imgUrl" column="imgUrl"/>
    </resultMap>
    <resultMap id="itripHotelOrderMap" type="ItripHotelOrder">
        <id property="id" column="id"/>
    </resultMap>
    <resultMap id="itripHotelRoomMap" type="ItripHotelRoom">
        <id property="id" column="id"/>
        <result property="roomPrice" column="roomPirce"/>
    </resultMap>
    <resultMap id="itripHotelTradingAreaMap" type="ItripHotelTradingArea">
        <id column="id" property="id"/>
    </resultMap>
    <select id="queryAllByName" resultMap="itripHotalMap">
        SELECT `itrip_hotel`.`id` ih_id,`itrip_image`.id ii_id,
        `itrip_hotel`.`address`,`itrip_hotel`.`hotelName`,`itrip_image`.`imgUrl`,room.`roomPrice`
        FROM `itrip_image`,`itrip_hotel`,`itrip_area_dic` dic,`itrip_hotel_trading_area` area,`itrip_hotel_room` room,`itrip_hotel_order`
        WHERE `itrip_hotel`.`id` NOT IN (
        SELECT `count`.`hotelId` FROM `count`,`itrip_hotel_order` WHERE `count`.`count`  IN(
        SELECT COUNT(*) FROM `itrip_hotel_order`
        WHERE `itrip_hotel_order`.`checkOutDate`<![CDATA[ >= ]]> #{checkInDate}
        AND `itrip_hotel_order`.`checkInDate`<![CDATA[ <= ]]> #{checkInDate}
        AND `itrip_hotel_order`.`checkOutDate`<![CDATA[ >= ]]> #{checkOutDate}
        AND `itrip_hotel_order`.`checkInDate`<![CDATA[ <= ]]> #{checkOutDate}
        GROUP BY `itrip_hotel_order`.`hotelId`

        )AND `itrip_hotel_order`.`hotelId` = `count`.`hotelId` GROUP BY `itrip_hotel_order`.`hotelId`
        )AND `itrip_hotel`.`cityId`=#{cityId}
        AND dic.`areaNo`=area.areaId
        AND `itrip_hotel`.`id`=area.hotelId
        AND `itrip_hotel`.`hotelLevel`=4
        AND dic.`NAME`=#{Name}
        AND `itrip_hotel`.`id`=`itrip_image`.`id`
        AND room.`hotelId`=`itrip_hotel`.`id`
        GROUP BY `itrip_hotel`.hotelName

    </select>

    <select id="queryAllByAddress" resultType="ItripHotel">
        SELECT	`itrip_hotel`.*,`itrip_image`.`imgUrl` FROM `itrip_image`,`itrip_hotel`
            where `itrip_hotel`.`id`=`itrip_image`.`id`
         and itrip_hotel.address like CONCAT ('%',#{address},'%')
    </select>

    <select id="queryAll" resultType="ItripHotel">
        SELECT	`itrip_hotel`.*,`itrip_image`.`imgUrl` FROM `itrip_image`,`itrip_hotel`
        where `itrip_hotel`.`id`=`itrip_image`.`id`
    </select>

    <select id="queryAllByCity" resultType="ItripHotel">
        SELECT dic.`NAME`,tel.`hotelName` FROM `itrip_area_dic` dic,`itrip_hotel` tel
        WHERE tel.`cityId`=#{cityId}
        AND dic.`id`=tel.`cityId`
    </select>
</mapper>